.niceFont {
  font-family: "Noto Sans KR", serif;
}


/* 컨테이너 스타일 */
.profile-text {
  padding-top: 50px;
  text-align: center; /* 가운데 정렬 */
  justify-content: center;
  display: flex;
  flex-direction: column; /* 세로로 쌓이게 */
  align-items: center;
  justify-content: space-between; /* 라벨과 값을 양쪽 끝으로 배치 */
  max-width: 600px;
  margin: 20px auto;
  gap: 20px; /* 요소 간 간격 추가 */

}


/* 마우스 오버 효과 */
.profile-box:hover {
  transform: scale(1.05); /* 살짝 커짐 */
  background-color: rgba(0, 0, 0, 0.2); /* 배경 더 진하게 */
}

/* 인포박스 하나하나 */
.info {
  background-color: #f8f9fa;
  padding: 10px 25px;
  margin-bottom: 10px;
  border-radius: 10px; /* 둥근 모서리 */
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 라벨과 값을 양쪽 끝으로 배치 */
  width: 100%;
  transition: transform 0.2s ease; /* 크기 증가 애니메이션 */
}

.info:hover {
  transform: scale(1.05); /* 마우스 오버 시 살짝 커짐 */
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  color: #555;
  font-size: 25px
}


/* 소셜미디어 */
.social-links {
  padding-right: 30px;
  display: flex;
  justify-content: right; /* 가운데 정렬 */
  align-items: center;
  gap: 15px; /* 아이콘 간격 조정 */
}

.social-icon {
  width: 30px;  /* 아이콘 크기 조정 */
  transition: transform 0.3s ease; /* 마우스 호버 애니메이션 */
  aspect-ratio: 1 / 1;  /* 정사각형 비율 유지 */
}

.social-icon:hover {
  transform: scale(1.1); /* 호버 시 아이콘 확대 */
}

/* 프로필사진 */
.profile-img {
  background-color: #e9ecef; /* 이미지 배경색 추가 */
  border-radius: 50%; /* 이미지 모서리 둥글게 */
  transition: transform 0.2s ease; /* 크기 증가 애니메이션 */
  margin-bottom: 10px;
}
/* 두번째 프로필사진 */
.img-second {
  transition: transform 0.2s ease, opacity 0.3s ease; /* 크기 증가 및 투명도 애니메이션 */
}
/* 프로필사진 마우스오버 */
.img-second:hover {
  opacity: 0.8; /* 약간의 투명도 변경 */
}

@media (max-width: 768px) {
  .value, .label{
    font-size: 10px
  }
}
